body {
    margin-left: 12%;
    margin-right: 12%;
    border: 1.6px solid grey;
    height: 1350px;
    width: 850px;
}
#frame {
    background-color: yellowgreen;
    height: 35px;
    color: White;
}
.end {
    float: right;
    width: 5%;
}
.column {
    float: left;
    width: 30%;
    padding: 5px;
}
.column1 {
    float: left;
    width: 30%;
    padding: 5px;
}
.column2 {
    float: right;
    width: 38%;
    padding: 1px;
}
.column3 {
    float: right;
    width: 64%;
    padding: 5px;
}
.option {
    border-color: darkturquoise;
    border-width: 2px;
}
.para {
    color: #00004d;
    font-size: 110%;
    width: 150%;
}
input[type=text] {
    border-color: darkturquoise;
    border-width: 2px;
    margin-top: 3%;
}
input[type=select] {
    border-color: darkturquoise;
}
.font {
    font-size: 90%;
}
hr {
    border-color: #8cff1a;
    border-width: 1px;
    width: 220%;
}
#imgVisa {
    border: 1px solid;
}
#question {
    margin-left: 600%;
    margin-right: -5%;
}
.row {
    width: 580px;
}
.footer {
    background-color: yellowgreen;
    height: 45px;
    margin-bottom: 1px;
    margin-top: 1190px;
    width: 850px;
    text-align:center;
}
.button {
    border: 0px;
    color: #00004d;
    background-color: WHITE;
}
h1, h2 {
    color: #004d4d;
}

.tab {
    background-color: #f0bb75;
    color: #00004d;
}
